@{
    var Data = new EntitiesLibrary.Data.Registration((EntitiesLibrary.tRegistration)Session["AccountDetails"]);
    var version = System.DateTime.UtcNow.Ticks;
    //var assemblyVersion = (AirbncleanWeb)
    var assemblyVersion = System.Reflection.Assembly.GetExecutingAssembly().GetName().ToString();
    //@typeof(YourApplicationNamespace.MvcApplication).Assembly.GetName().Version
    var date = System.DateTime.UtcNow.Year;
}
<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Airbnclean</title>

    <!-- Bootstrap -->
    <link href=@Url.Content("~/Content/css/bootstrap.min.css") rel="stylesheet" />
    <!-- Google Font -->
    <link href=@Url.Content("https://fonts.googleapis.com/css?family=Muli:300,400,600,700,800,900") rel="stylesheet">
    <!-- Font awesome css -->
    <link href=@Url.Content("~/Content/css/font-awesome.min.css") rel="stylesheet" />
    <!-- Favicon -->
    <link href="~/Content/images/favicon.png" rel="shortcut icon" />
    @*<link href="images/favicon.png" rel="shortcut icon" />*@
    <link href=@Url.Content("~/Content/css/ace-responsive-menu.css") rel="stylesheet" type="text/css" />
    <!-- Custom Style -->
    <link href=@Url.Content("~/Content/css/styles.css?v=" + assemblyVersion) rel="stylesheet" />
    <!-- Include Date Range Picker -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css" />
    <!-- Time Picker -->
    <link type="text/css" href="~/Content/css/timepicker.css" rel="stylesheet" />
    <script src=@Url.Content("~/Scripts/jquery-3.2.1.min.js")></script>
    <script src="~/Content/AirbncleanJs/accountJS.js"></script>
    <link href="~/Content/Plugin/SweetAlert/sweetalert.css" rel="stylesheet" />
    <script src="~/Content/Plugin/SweetAlert/sweetalert.min.js"></script>
</head>
<body>
    <div class="preloder">
        <div class="loder">
            <img src="~/Content/Images/logo.png" class="loder-img" />
            <span>Please wait loading...</span>
        </div>
    </div>
    @{
        var action = ViewContext.RouteData.Values["action"].ToString().ToLower();
        var controller = ViewContext.RouteData.Values["controller"].ToString().ToLower();
    }
    <section class="main-menu">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="dropdown pull-right user-name">
                        <button class="no-button dropdown-toggle" type="button" data-toggle="dropdown">
                            Welcome, <span>@((Data == null ? "" : Data.FirstName))</span>
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a href="/User/profile">Profile</a></li>
                            <li><a href="/User/settings">Settings</a></li>
                            <li><a href="/User/logout">Logout</a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-md-4 col-sm-3 col-xs-12">
                    <div class="logo">
                        <img class="img-responsive" src="~/Content/images/logo.png" />
                    </div>
                </div><!-- /col-md-4 -->

                <div class="col-md-8 col-sm-9 col-xs-12">
                    <a data-toggle="collapse" href="#menu-main" class="mobile-menu"><i class="fa fa-bars"></i> Menu</a>
                    <div id="menu-main" class="collapse">
                        <ul class="inner-page-menu">
                            <li class="@((controller == "user" && action == "home"?"active":"")) "><a href="/User/home">Home</a></li>
                            <li class="@((controller == "user" && action == "postjob" ? "active" : "")) "><a href="/User/postjob">Post Jobs</a></li>
                            <li class="@((controller == "user" && action == "myjobs" ? "active" : "")) "><a href="/User/myjobs">My Jobs</a></li>
                            <li class="@((controller == "user" && action == "myproperty" ? "active" : "")) "><a href="/User/myproperty">My Properties</a></li>
                            <li class="@((controller == "user" && action == "mycleaners" ? "active" : "")) "><a href="/User/mycleaners">My Cleaners</a></li>
                        </ul>
                    </div><!-- /menu-main -->
                </div><!-- /col-md-8 -->
            </div><!-- /row -->
        </div><!-- /container -->
    </section><!-- /main-menu -->
    <div>
        @RenderBody()
    </div>

    <section class="footer-sec">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <p>© Airbnclean Copyright @date</p>
                </div><!-- /col-md-12 -->
            </div><!-- /row -->
        </div><!-- /container -->
    </section><!-- /footer-sec -->
    @Scripts.Render("~/bundles/jqueryval")
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src=@Url.Content("~/Content/js/bootstrap.js")></script>

    <link href=@Url.Content("~/Content/toastr.min.css") rel="stylesheet" />
    <script src=@Url.Content("~/Scripts/toastr.min.js")></script>
    <!-- Mobile menu -->
    <script>
        $(document).ready(function () {
            "use strict";
            var myNav = {
                init: function () {
                    this.cacheDOM();
                    this.browserWidth();
                    this.bindEvents();
                },
                cacheDOM: function () {
                    this.navBars = $(".navBars");
                    this.toggle = $("#toggle");
                    this.navMenu = $("#menu");
                },
                browserWidth: function () {
                    $(window).resize(this.bindEvents.bind(this));
                },
                bindEvents: function () {
                    var width = window.innerWidth;

                    if (width < 767) {
                        this.navBars.click(this.animate.bind(this));
                        this.navMenu.hide();
                        this.toggle[0].checked = false;
                    } else {
                        this.resetNav();
                    }
                },
                animate: function (e) {
                    var checkbox = this.toggle[0];

                    if (!checkbox.checked) {
                        this.navMenu.slideDown();
                    } else {
                        this.navMenu.slideUp();
                    }

                },
                resetNav: function () {
                    this.navMenu.show();
                }
            };
            myNav.init();
        });
    </script>
    <!--Plugin Initialization-->
    <script src=@Url.Content("~/Content/js/ace-responsive-menu.js") type="text/javascript"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#respMenu").aceResponsiveMenu({
                resizeWidth: '768', // Set the same in Media query
                animationSpeed: 'fast', //slow, medium, fast
                accoridonExpAll: false //Expands all the accordion menu on click
            });
        });
    </script>

    <!-- Include Date Range Picker -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
    <script>
        $(document).ready(function () {
            var date_input = $('input[name="date"]'); //our date input has the name "date"
            var container = $('.bootstrap-iso form').length > 0 ? $('.bootstrap-iso form').parent() : "body";
            var d = new Date();

            var month = d.getMonth() + 1;
            var day = d.getDate();

            var output =
                (('' + day).length < 2 ? '0' : '') + day + '/' + (('' + month).length < 2 ? '0' : '') + month + '/' + d.getFullYear();

            date_input.datepicker({
                format: 'dd/mm/yyyy',
                container: container,
                todayHighlight: true,
                autoclose: true,
                startDate: output
            })
        })
    </script>

    <!-- Time picker -->


    <script src="https://cdnjs.cloudflare.com/ajax/libs/jstimezonedetect/1.0.6/jstz.min.js"></script>
    @*<script>
            $("input[type='image']").click(function () {
                $(this).siblings("input[class='my_file']").click();
            });
        </script>*@
    <script language="javascript">
        $(window).on('load', function () {
            //alert(getTimezoneName());
            var timezone = getTimezoneName();
            setTimeout(function () {
                $.ajax({
                    url: '/User/Refreshtimezone?id=' + timezone,
                    type: "GET",
                    global: false,     // this makes sure ajaxStart is not triggered
                    dataType: 'json',
                    success: function (data) {
                    }
                });
            }, 300);

        });
        function getTimezoneName() {
            timezone = jstz.determine()
            return timezone.name();


            //var offset = new Date().getTimezoneOffset();
            //console.log(offset);
        }
    </script>

</body>
</html>
