@model ClassLibrary.WebModels.UserMyJobsModel
@{
    var Data = new EntitiesLibrary.Data.Registration((EntitiesLibrary.tRegistration)Session["AccountDetails"]);
    var jobList = new EntitiesLibrary.Data.WebService().fetchUserJobs(Model);
}

@if (jobList.Count > 0)
{
    foreach (var job in jobList)
    {
        <div class="col-md-6">
            <div class="job">
                <div class="job-header">
                    @if (job.PropertyDetail != null)
                    {
                        if (job.PropertyDetail.PropertyName != null && job.PropertyDetail.PropertyName != string.Empty)
                        {
                            <span>@job.PropertyDetail.PropertyName</span>
                        }
                        else
                        {
                            <span>&nbsp;</span>
                        }
                    }
                    else
                    {
                        <span>&nbsp;</span>
                    }
                
                    <span class="pull-right">$@(job.PriceString == "" ? "0" : job.PriceString)</span>
                    @try
                    {
                        <span class="pull-right">@job.DatetoBrowser.ToString("dd-MM-yyyy")</span>
                        <span class="pull-right">@job.DatetoBrowser.ToString("hh:mm tt")</span>
                    }
                    catch (Exception ex)
                    {
                        <span class="pull-right">@job.Date1.ToString("dd-MM-yyyy")</span>
                        <span class="pull-right">@job.Date1.ToString("hh:mm tt")</span>
                    }
                </div><!-- /job-header -->
                <div class="job-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="">
                                <img class="img-responsive" src="~/Content/images/icons/location.png" style="display: inline-block;" />
                                @*<h5 style="float:left;">
                                    @((job.PropertyDetail == null ? "" : job.PropertyDetail.Address ?? string.Empty)),
                                    <br>@((job.PropertyDetail == null ? "" : job.PropertyDetail.Suburb ?? string.Empty)),
                                    @((job.PropertyDetail == null ? "" : job.PropertyDetail.State ?? string.Empty)),
                                    <br>@((job.PropertyDetail == null ? "" : job.PropertyDetail.Country ?? string.Empty))
                                </h5>*@
                                <span>
                                    @((job.PropertyDetail == null ? "" : job.PropertyDetail.Address ?? string.Empty)),
                                    @((job.PropertyDetail == null ? "" : job.PropertyDetail.Suburb ?? string.Empty)) @((job.PropertyDetail == null ? "" : job.PropertyDetail.State ?? string.Empty)),
                                    @((job.PropertyDetail == null ? "" : job.PropertyDetail.Country ?? string.Empty))
                                </span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <span class="pull-right">@job.JobStatus </span>
                            <div class="job-btn">
                                @if (job.JobStatus == ClassLibrary.Enum.JobStatus.Pending.ToString())
                                {
                                    if (job.CounterOffers.Count > 0)
                                    {
                                        <a href="/User/counteroffer/@job.JobIdString" class="pending-btn">Counter Offer(@job.CounterOffers.Count)</a>
                                    }
                                }
                                <a href="/User/viewjob/@job.JobIdString" class="view-btn">View</a>
                            </div>
                        </div>
                    </div><!-- /row -->
                </div><!-- /job-body-->
            </div><!-- /job -->
        </div><!-- /col-md-6 -->
    }
}
